<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/head'); %>

</head>
<body class="container">

<header>
  <%- include('../components/header'); %>
  
</header>
<body>
  
<main>
  <h1>Welcome do Mini-Wiki Star Wars</h1>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>



<footer  class="flex-shrink-0 py-4 bg-dark text-white-50">
  <%- include('../components/footer'); %>
</footer>

</body>
</html>